
.bg-image{
    background:url("./components/assets/cloud.svg") ;
    background-size: cover;
    background-position: center;
    height: 100vh;
    animation: zoom-bg 10s forwards infinite;
}
@keyframes zoom-bg{
    0%{
        background-size: 100%;
    }
    
    100%{
        background-size: 150%;
    }
}